*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  padding: 100px;
  align-items: center;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightblue;
}
a .logo {
  position: relative;
  width: 80px;
  height: 80px;
}

header ul {
  position: relative;
  display: flex;
}

header ul li {
  list-style: none;
}

header ul li a {
  display: inline-block;
  color: #333;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
}

main {
  position: relative;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .textbox {
  position: relative;
  max-width: 600px;
}

main .textbox h1 {
  font-size: 4em;
}

main .textbox h3 {
  margin-top: 24px;
  font-weight: lighter;
}

main button {
  margin-top: 24px;
  padding: 8px 24px;
  border-radius: 24px;
  cursor: pointer;
}
